<%- include("partials/header.ejs"); %>


<h1>Hello</h1>
<p> <%= content %>  </p>

<%  posts.forEach((post) => { %>
    
    <h1>  <%=  post.title  %> </h1>
    
    <p>  <%=  post.postBodytext.substring(0, 100) + " ..."  %> <a href="/posts/ <%= post.title %>">Read More</a> </p> 

    <% }); %>





<%- include("partials/footer.ejs"); %>
















